<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center" sizeLg="5" size-md="5">
        <ion-row class="ion-margin-bottom">
          <ion-col size-lg="8" size-md="8">
            <img src="assets/logo/logo_large.png"/>
          </ion-col>
        </ion-row>
        <ion-card>
          <ion-card-content>
            <ion-button href="/register" expand="block" color="primary">Registrieren</ion-button>

            <span class="divider line one-line">oder</span>

            <span class="already">Schon einen Account?</span>

            <ion-button href="/login" expand="block" color="danger">Einloggen</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
