<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sell2Buy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sell2Buy</ion-title>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-list>
          <ion-list-header>Kategorien</ion-list-header>
          <ion-item>Elektrogeräte</ion-item>
          <ion-item>Kleider</ion-item>
          <ion-item>Fahrzeuge</ion-item>
          <ion-item>Immobilien</ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="8" offset="1">
        <ion-searchbar placeholder="Produkte, Auktionen, Nutzer..."></ion-searchbar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <img src="assets/demo-images/schuh-1.webp" />
                <ion-card-header>
                  <ion-card-subtitle>Schuhe</ion-card-subtitle>
                  <ion-card-title>Nike Vapormax</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <img src="assets/demo-images/schuh.webp" />
                <ion-card-header>
                  <ion-card-subtitle>Schuhe</ion-card-subtitle>
                  <ion-card-title>Nike Freerun</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <img src="assets/demo-images/schuh-2.webp" />
                <ion-card-header>
                  <ion-card-subtitle>Schuhe</ion-card-subtitle>
                  <ion-card-title>Nike Air Max</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <img src="assets/demo-images/schuh-3.webp" />
                <ion-card-header>
                  <ion-card-subtitle>Schuhe</ion-card-subtitle>
                  <ion-card-title>Nike Air Max</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row></ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
